[submodule "content"]
	path = content
	url = https://github.com/shiva/blog-posts.git
	branch = all_md
[submodule "themes/hugo-type-theme"]
	path = themes/hugo-type-theme
	url = https://github.com/digitalcraftsman/hugo-type-theme.git
[submodule "themes/hugo-base16-theme"]
	path = themes/hugo-base16-theme
	url = https://github.com/htdvisser/hugo-base16-theme.git
[submodule "themes/HugoTeX"]
	path = themes/HugoTeX
	url = https://github.com/shiva/HugoTeX.git
